.page-news.news {
  .container {
    max-width: 1170px;
  }
  .news__list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 60px;
    column-gap: 34px;
  }
  .news-item {
    .news-item__row {
      margin-top: 24px;
      .news-item__text {
        font-size: 2.2rem;
        color: #a3a3a3;
      }
      .news-item__calendar--icon {
        @include size(30px);
      }
    }
    .news-item__tittle {
      font-size: 2.9568rem;
      font-weight: 600;
      line-height: 39.424px; /* 133.333% */
    }
    .news-hot__desc {
      font-size: 1.9712rem;
      line-height: 30.184px;
    }
  }
  .paging {
    margin: 50px 0 40px;
    .paging__list {
      @include flexCenter;
      gap: 20px;
    }
    .paging-item {
      font-size: 2rem;
      font-weight: 400;
      line-height: 26px;
      &.active {
        color: $primaryColor;
      }
    }
  }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .page-news.news {
    .news__list {
      grid-template-columns: repeat(2, 1fr);
    }
    .news-item {
      .news-item__img {
        height: 404px;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .page-news.news {
    .paging {
      margin: 200px 0 160px;
    }
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
