html {
  font-size: 10px;
}
a {
  text-decoration: none;
}
body {
  font-family: $fontFamily;
  font-size: 1.6rem;
}
html,
body {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}
.flex {
  display: flex;
}
