.products {
  text-align: center;
  margin-top: 40px;
  overflow: hidden;
  .container {
    max-width: 1170px;
  }
  .products__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 100px;
    row-gap: 200px;
    margin-top: 168px;
    .products-item {
      position: relative;
      @include flexCenter;
      flex-direction: column;

      &:nth-of-type(2),
      &:nth-of-type(5) {
        .products-item__circle {
          background: #c5ffa8;
        }
      }
      .products-item__circle {
        position: absolute;
        width: 323.179px;
        height: 323.179px;
        border-radius: 50%;
        background-color: #ffba94;
        z-index: -1;
        top: 0;
        transform: translateY(-137.57px);
      }
      .products-item__img--wrapper {
        width: 100%;
        @include flexCenter;
      }
      .products-item__tittle {
        flex-grow: 1;
        position: relative;
        font-size: 2.8rem;
        padding-bottom: 10px;
        font-weight: 700;
        line-height: normal;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          height: 2px;
          background: #a3a3a3;
          width: 49px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .products-item__quality,
      .products-item__price {
        font-size: 2rem;
        font-weight: 400;
        line-height: 26px; /* 130% */
        color: #656565;
      }
      .products-item__quality {
        margin-top: 20px;
      }
      .products-item__price {
        span {
          font-size: 2.6rem;
          font-weight: 600;
          color: $textColor;
          line-height: 3.2rem;
        }
      }
      .products-item__btn {
        margin-top: 16px;
      }
    }
  }
}
@media screen and (min-width: 576px) {
  .products {
    .products__list {
      grid-template-columns: repeat(2, 1fr);
      .products-item {
        .products-item__circle {
          width: calc(0.8 * 323.179px);
          height: calc(0.8 * 323.179px);
          transform: translateY(
            calc(calc(137.57px / 323.179px) * calc(0.8 * -323.179px))
          );
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .products {
    margin-top: 120px;
    .products__list {
      margin-top: 198px;
      .products-item {
        .products-item__circle {
          width: 323.179px;
          height: 323.179px;
          transform: translateY(-137.57px);
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .products {
    .products__list {
      .products-item {
        .products-item__tittle {
          margin-top: 20px;
        }
        .products-item__btn {
          margin-top: 32px;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .products {
    .products__list {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 258px;
    }
  }
}
@media screen and (min-width: 1400px) {
}
