* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Inter, san-serif;
  color: #2c2c2c;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  --container-width: 1440px;
  --column-space: 0;
}

.header {
  padding: 18px 0;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.header .header__navbar {
  padding: 50px;
  position: fixed;
  inset: 0 40% 0 0;
  z-index: 3;
  background-color: #fff;
  transform: translateX(-100%);
  transition-property: opacity, transform;
  transition: 0.3s linear;
}
.header .header__navbar .menu::before {
  content: "";
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 140px;
  height: 94px;
  display: block;
}
.header .header__navbar .menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 60px;
}
.header .header__navbar .menu ul li a {
  position: relative;
  font-weight: 600;
  font-size: 2rem;
  display: block;
  width: 100%;
  padding: 0;
}
.header .header__navbar .menu ul li a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -20px;
  background-color: #46b20f;
  transition: width 0.5s ease-in-out;
}
.header .header__navbar .menu ul li a.active, .header .header__navbar .menu ul li a:hover {
  color: #46b20f;
}
.header .header__navbar .menu ul li a.active::after, .header .header__navbar .menu ul li a:hover::after {
  width: 100%;
}
.header .header__navbar .menu ul li a:hover::after {
  width: 100%;
}
.header .header__navbar .close-up-menu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(179, 59, 59);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__action .action {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.header .header__action .action .action-cart {
  position: relative;
}
.header .header__action .action .action-cart span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  flex-shrink: 0;
  top: -4px;
  right: -5px;
  background: #e05000;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  border-radius: 50%;
}
.header .header__action .action .bars {
  font-size: 2.8rem;
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .header .row {
    align-items: flex-end;
  }
  .header .header__navbar {
    position: static;
    transform: translateX(0);
    padding: 0;
  }
  .header .header__navbar .menu::before {
    content: none;
  }
  .header .header__navbar .menu ul {
    margin: 0 30px 0 0;
    flex-direction: row;
  }
  .header .header__navbar .menu ul li {
    flex-shrink: 0;
  }
  .header .header__navbar .menu ul li a {
    padding-bottom: 26px;
  }
  .header .header__navbar .menu ul li a::after {
    bottom: -18px;
    left: 0;
  }
  .header .header__navbar .close-up-menu {
    display: none;
  }
  .header .header__action .action {
    padding-bottom: 26px;
  }
  .header .header__action .action .action__link {
    width: 32px;
    height: 32px;
  }
  .header .header__action .action .bars {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header .header__navbar .menu ul {
    gap: 0;
  }
  .header .header__navbar .menu ul li a {
    padding: 0 30px 26px;
  }
  .header .header__navbar .menu ul li a::after {
    left: 30px;
  }
  .header .header__navbar .menu ul li a.active::after, .header .header__navbar .menu ul li a:hover::after {
    width: calc(100% - 60px);
  }
  .header .header__navbar .menu ul li a:hover::after {
    width: calc(100% - 60px);
  }
  .header .header__action .action {
    justify-content: flex-start;
    gap: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .header .header__action .action {
    gap: 60px;
  }
}
.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s linear;
}

.menu-checkbox:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

.menu-checkbox:checked ~ .header .header__navbar {
  transform: translateX(0%);
}

.hero .container {
  padding: 0;
}
.hero .hero__info {
  padding: 0 var(--container-padding);
}
.hero .hero__info .hero__subtitle {
  margin-top: 30px;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 131.523%; /* 57.87px */
}
.hero .hero__info .hero__title {
  margin-top: 20px;
  font-size: 4rem;
  font-weight: 800;
}
.hero .hero__info .hero__desc {
  margin: 20px 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24.5px; /* 153.125% */
}
.hero .hero__media {
  position: relative;
  width: 100vw;
  height: 460px;
  padding: 0;
  background-color: #dcffca;
}
.hero .hero__media .hero__img-wrapper {
  position: absolute;
}
.hero .hero__media .hero__text {
  position: absolute;
  font-weight: 800;
  font-size: 7rem;
  line-height: 100%; /* 200px */
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #216000;
  opacity: 0.15;
  top: 66px;
  right: 41px;
}

@media screen and (min-width: 576px) {
  .hero .hero__media {
    height: 500px;
  }
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 500px;
  }
  .hero .hero__media .hero__text {
    font-size: 9rem;
  }
}
@media screen and (min-width: 992px) {
  .hero .container {
    --container-width: calc(100vw - (100vw - 1440px) / 2);
    margin: 0 0 0 auto;
    padding: 0 0 0 var(--container-padding);
  }
  .hero .hero__media {
    margin-left: auto;
    max-width: 931px;
    display: inline-block;
    width: 0.4848958333vw;
    height: 44.2708333333vw;
    border-radius: 20px 0px 0px 20px;
  }
  .hero .hero__info {
    padding: 0;
  }
  .hero .hero__info .hero__subtitle {
    font-size: 2.4rem;
  }
  .hero .hero__info .hero__title {
    margin-top: 12px;
    font-size: 3.2rem;
    max-width: 400px;
  }
  .hero .hero__info .hero__desc {
    margin-top: 32px;
    font-size: 1.4rem;
    max-width: 400px;
  }
  .hero .hero__media .hero__img-wrapper {
    right: 160px;
  }
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 500px;
  }
  .hero .hero__media .hero__text {
    font-size: 11rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero__info .hero__subtitle {
    font-size: 3.4rem;
  }
  .hero .hero__info .hero__title {
    font-size: 4.2rem;
  }
  .hero .hero__info .hero__desc {
    max-width: 460px;
  }
  .hero .hero__media .hero__img-wrapper {
    right: 240px;
  }
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 600px;
  }
  .hero .hero__media .hero__text {
    font-size: 13rem;
  }
}
@media screen and (min-width: 1400px) {
  .hero .hero__info .hero__subtitle {
    font-size: 4.4rem;
  }
  .hero .hero__info .hero__title {
    max-width: 460px;
    font-size: 5.2rem;
  }
  .hero .hero__info .hero__desc {
    font-size: 1.6rem;
    max-width: 540px;
  }
  .hero .hero__media .hero__img-wrapper {
    right: 269px;
  }
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 660px;
  }
  .hero .hero__media .hero__text {
    font-size: 15rem;
  }
}
@media screen and (min-width: 1600px) {
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 760px;
  }
  .hero .hero__media .hero__text {
    font-size: 19rem;
  }
}
@media screen and (min-width: 1800px) {
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 860px;
  }
}
.quality {
  overflow: hidden;
  margin-top: 120px;
  text-align: center;
}
.quality .quality__tittle {
  width: 670px;
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 131.523%; /* 49.979px */
  margin: auto;
}
.quality .quality__desc {
  width: 772px;
  font-weight: 400;
  line-height: 24.5px; /* 153.125% */
  margin: 30px auto 0;
}
.quality .quality__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  margin-top: 171px;
  padding-bottom: 170px;
}
.quality .quality__list .quality-item {
  box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
  border-radius: 4px;
  background-color: #fff;
  height: 405px;
  padding: 40px 40px 0 46px;
  text-align: left;
  max-width: 353px;
}
.quality .quality__list .quality-item:hover, .quality .quality__list .quality-item.active, .quality .quality__list .header .header__navbar .menu ul li a.quality-item:hover, .header .header__navbar .menu ul li .quality .quality__list a.quality-item:hover {
  scale: 1.164305949 1.162962963;
}
.quality .quality__list .quality-item:hover .quality-item__icon, .quality .quality__list .quality-item.active .quality-item__icon {
  background: #f2ffec;
}
.quality .quality__list .quality-item .quality-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #fff0e7;
  transition: all 0.25s ease-in-out;
  border-radius: 12px;
}
.quality .quality__list .quality-item .quality-item__valus {
  margin-top: 28px;
  font-size: 5.2rem;
  font-weight: 800;
}
.quality .quality__list .quality-item .quality-item__desc {
  margin-top: 29px;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 37px; /* 154.167% */
}
.quality .quality__list .quality-circle__left,
.quality .quality__list .quality-circle__right {
  position: absolute;
  width: 282px;
  height: 282px;
  border-radius: 50%;
  z-index: -1;
}
.quality .quality__list .quality-circle__left {
  top: -141px;
  left: 0;
  background: #dcffca;
  transform: translateX(-35%);
}
.quality .quality__list .quality-circle__right {
  background: #ffd5bd;
  bottom: 0;
  right: 0;
  transform: translateX(35%);
}

@media screen and (min-width: 576px) {
  .quality .quality__list .quality-circle__left {
    transform: translateX(0);
  }
  .quality .quality__list .quality-circle__right {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .quality .quality__list .quality-circle__left {
    transform: translateX(35%);
  }
  .quality .quality__list .quality-circle__right {
    transform: translateX(-35%);
  }
}
@media screen and (min-width: 992px) {
  .quality .quality__list {
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-left: -40px;
  }
  .quality .quality__list > * {
    width: calc(33.3333333333% - 40px);
    margin-left: 40px;
  }
  .quality .quality__list .quality-item {
    max-width: 300px;
  }
  .quality .quality__list .quality-item:hover, .quality .quality__list .quality-item.active, .quality .quality__list .header .header__navbar .menu ul li a.quality-item:hover, .header .header__navbar .menu ul li .quality .quality__list a.quality-item:hover {
    scale: 1.1;
  }
  .quality .quality__list .quality-circle__left {
    transform: translateX(-30%);
  }
  .quality .quality__list .quality-circle__right {
    transform: translateX(30%);
  }
}
@media screen and (min-width: 1200px) {
  .quality .quality__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 54px;
    margin-left: -54px;
  }
  .quality .quality__list > * {
    width: calc(33.3333333333% - 54px);
    margin-left: 54px;
  }
  .quality .quality__list .quality-item {
    max-width: 353px;
  }
  .quality .quality__list .quality-item:hover, .quality .quality__list .quality-item.active, .quality .quality__list .header .header__navbar .menu ul li a.quality-item:hover, .header .header__navbar .menu ul li .quality .quality__list a.quality-item:hover {
    scale: 1.164305949 1.162962963;
  }
  .quality .quality__list .quality-circle__left,
  .quality .quality__list .quality-circle__right {
    position: absolute;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    z-index: -1;
  }
  .quality .quality__list .quality-circle__left {
    transform: translateX(-20%);
  }
  .quality .quality__list .quality-circle__right {
    right: 1px;
    transform: translateX(20%);
  }
}
@media screen and (min-width: 1400px) {
  .quality .quality__list {
    padding: 0 136px 170px 136px;
  }
  .quality .quality__list .quality-circle__left,
  .quality .quality__list .quality-circle__right {
    position: absolute;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    z-index: -1;
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
