* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
}
@media screen and (min-width: 992px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: Inter, san-serif;
  color: #2c2c2c;
  font-size: 1.6rem;
  line-height: 1.2;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .d-xxl-none {
    display: none;
  }
  .d-xxl-block {
    display: block;
  }
}
.container {
  --container-width: 1440px;
  --column-space: 0;
}

.heading-1 {
  font-size: 5.2rem;
  font-weight: 700;
}

.heading-2 {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 131.523%;
}

.heading-3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 32px;
}

.desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24.5px; /* 153.125% */
  word-break: break-word;
}

.btn {
  font-family: Inter, sans-serif;
  background-color: #46b20f;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 14px;
  border-radius: 8px;
  color: #fff;
  font-size: 2rem;
  line-height: normal;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s;
}
.btn:hover {
  background-color: #ff6916;
}
.btn:disabled {
  background-color: #b7b7b7;
}
.btn:active {
  background-color: #e05000;
}

.btn.more {
  gap: 4px;
  border: 1px solid #46b20f;
  background: #fff;
  color: #2c2c2c;
  padding: 14px 26px;
}
.btn.more:hover {
  background: #46b20f;
  color: #fff;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 18px 0;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.header .header__navbar {
  padding: 50px;
  position: fixed;
  inset: 0 40% 0 0;
  z-index: 3;
  background-color: #fff;
  transform: translateX(-100%);
  transition-property: opacity, transform;
  transition: 0.3s linear;
}
.header .header__navbar .menu::before {
  content: "";
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 140px;
  height: 94px;
  display: block;
}
.header .header__navbar .menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 60px;
}
.header .header__navbar .menu ul li a {
  position: relative;
  font-weight: 600;
  font-size: 2rem;
  display: block;
  width: 100%;
  padding: 0;
}
.header .header__navbar .menu ul li a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -20px;
  background-color: #46b20f;
  transition: width 0.5s ease-in-out;
}
.header .header__navbar .menu ul li a.active, .header .header__navbar .menu ul li a:hover {
  color: #46b20f;
}
.header .header__navbar .menu ul li a.active::after, .header .header__navbar .menu ul li a:hover::after {
  width: 100%;
}
.header .header__navbar .menu ul li a:hover::after {
  width: 100%;
}
.header .header__navbar .close-up-menu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(179, 59, 59);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__action .action {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.header .header__action .action .action-cart {
  position: relative;
}
.header .header__action .action .action-cart span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  flex-shrink: 0;
  top: -4px;
  right: -5px;
  background: #e05000;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  border-radius: 50%;
}
.header .header__action .action .bars {
  font-size: 2.8rem;
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .header .row {
    align-items: flex-end;
  }
  .header .header__navbar {
    position: static;
    transform: translateX(0);
    padding: 0;
  }
  .header .header__navbar .menu::before {
    content: none;
  }
  .header .header__navbar .menu ul {
    margin: 0 30px 0 0;
    flex-direction: row;
  }
  .header .header__navbar .menu ul li {
    flex-shrink: 0;
  }
  .header .header__navbar .menu ul li a {
    padding-bottom: 26px;
  }
  .header .header__navbar .menu ul li a::after {
    bottom: -18px;
    left: 0;
  }
  .header .header__navbar .close-up-menu {
    display: none;
  }
  .header .header__action .action {
    padding-bottom: 26px;
  }
  .header .header__action .action .action__link {
    width: 32px;
    height: 32px;
  }
  .header .header__action .action .bars {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header .header__navbar .menu ul {
    gap: 0;
  }
  .header .header__navbar .menu ul li a {
    padding: 0 30px 26px;
  }
  .header .header__navbar .menu ul li a::after {
    left: 30px;
  }
  .header .header__navbar .menu ul li a.active::after, .header .header__navbar .menu ul li a:hover::after {
    width: calc(100% - 60px);
  }
  .header .header__navbar .menu ul li a:hover::after {
    width: calc(100% - 60px);
  }
  .header .header__action .action {
    justify-content: flex-start;
    gap: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .header .header__action .action {
    gap: 60px;
  }
}
.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s linear;
}

.menu-checkbox:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

.menu-checkbox:checked ~ .header__navbar {
  transform: translateX(0%);
}

.footer {
  padding-top: 40px;
  background: #f2ffec;
}
.footer .container {
  max-width: 1183px;
}
.footer .footer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  padding-bottom: 43px;
  border-bottom: 2px solid #a3a3a3;
}
.footer .footer-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.footer .footer-item:nth-of-type(3) .footer-item__item + .footer-item__item .footer-item__link {
  line-height: 24px;
}
.footer .footer-item .footer-item__logo img {
  width: 160px;
}
.footer .footer-item .footer-item__desc {
  margin-top: 18px;
}
.footer .footer-item .footer-item__tittle {
  font-size: 2rem;
  color: #46b20f;
  font-weight: 600;
  line-height: 26px; /* 130% */
}
.footer .footer-item .footer-item__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.footer .footer-item .footer-item__link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24.5px; /* 153.125% */
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.footer .footer-item .footer-item__link span {
  font-weight: 600;
  line-height: 24.5px; /* 150% */
}
.footer .footer-bottom {
  padding: 29px 0 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 30px;
}
.footer .footer-bottom__img,
.footer .social__list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-bottom__img {
  transform: translateX(-10px);
}
.footer .social__list {
  gap: 8px;
}
.footer .social-item {
  width: 48px;
  height: 48px;
  background: #dcffca;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .footer .footer-bottom__img,
  .footer .social__list {
    flex-grow: 0;
  }
  .footer .footer-bottom__img {
    transform: none;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }
  .footer .footer-item:nth-of-type(n + 2) {
    flex-basis: auto;
  }
  .footer .footer-item:last-child .footer-item__item .footer-item__link {
    max-width: 228px;
  }
  .footer .footer__list {
    padding-bottom: 86px;
  }
}
@media screen and (min-width: 992px) {
  .footer .footer-item {
    flex-basis: auto;
  }
  .footer .footer-item:nth-of-type(n + 2) {
    flex-basis: auto;
  }
  .footer .footer-item .footer-item__desc {
    max-width: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-item {
    text-align: initial;
    align-items: flex-start;
  }
  .footer .footer-item .footer-item__desc {
    margin: 28px 0 0 0;
  }
  .footer .footer-item .footer-item__logo img {
    margin: 0 auto;
  }
  .footer .footer-item .footer-item__list {
    align-items: flex-start;
  }
}
.main__tittle {
  padding: 68px 0 69px;
  background: #f2ffec;
}

.breadcrumb {
  padding: 37px 0;
  background: #f2ffec;
  margin-bottom: 60px;
}
.breadcrumb .breadcrumb__content {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 26px; /* 130% */
}
.breadcrumb a {
  margin-right: 5px;
}
.breadcrumb span {
  color: #46b20f;
}

.hero .container {
  padding: 0;
}
.hero .hero__info {
  padding: 0 var(--container-padding);
}
.hero .hero__info .hero__subtitle {
  margin-top: 30px;
  font-size: 2.4rem;
}
.hero .hero__info .hero__title {
  margin-top: 20px;
  font-size: 4rem;
  font-weight: 800;
}
.hero .hero__info .hero__desc {
  margin: 20px 0;
}
.hero .hero__media {
  position: relative;
  width: 100vw;
  height: 460px;
  padding: 0;
  background-color: #dcffca;
}
.hero .hero__media .hero__img-wrapper {
  position: absolute;
  bottom: 0;
  right: 60px;
}
.hero .hero__media .hero__text {
  position: absolute;
  font-weight: 800;
  font-size: 7rem;
  line-height: 100%; /* 200px */
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #216000;
  opacity: 0.15;
  top: 66px;
  right: 41px;
}

@media screen and (min-width: 576px) {
  .hero .hero__media {
    height: 500px;
  }
  .hero .hero__media .hero__img-wrapper {
    right: auto;
    bottom: auto;
  }
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 500px;
  }
  .hero .hero__media .hero__text {
    font-size: 9rem;
  }
}
@media screen and (min-width: 992px) {
  .hero .container {
    --container-width: calc(100vw - (100vw - 1440px) / 2);
    margin: 0 0 0 auto;
    padding: 0 0 0 var(--container-padding);
  }
  .hero .hero__media {
    margin-left: auto;
    max-width: 931px;
    display: inline-block;
    width: 0.4848958333vw;
    height: 44.2708333333vw;
    border-radius: 20px 0px 0px 20px;
  }
  .hero .hero__info {
    padding: 0;
  }
  .hero .hero__info .hero__subtitle {
    font-size: 2.4rem;
  }
  .hero .hero__info .hero__title {
    margin-top: 12px;
    font-size: 3.2rem;
    max-width: 400px;
  }
  .hero .hero__info .hero__desc {
    margin-top: 32px;
    font-size: 1.4rem;
    max-width: 400px;
  }
  .hero .hero__media .hero__img-wrapper {
    right: 160px;
  }
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 500px;
  }
  .hero .hero__media .hero__text {
    font-size: 11rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero__info .hero__subtitle {
    font-size: 3.4rem;
  }
  .hero .hero__info .hero__title {
    font-size: 4.2rem;
  }
  .hero .hero__info .hero__desc {
    max-width: 460px;
  }
  .hero .hero__media .hero__img-wrapper {
    right: 240px;
  }
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 600px;
  }
  .hero .hero__media .hero__text {
    font-size: 13rem;
  }
}
@media screen and (min-width: 1400px) {
  .hero .hero__info .hero__subtitle {
    font-size: 4.4rem;
  }
  .hero .hero__info .hero__title {
    max-width: 460px;
    font-size: 5.2rem;
  }
  .hero .hero__info .hero__desc {
    font-size: 1.6rem;
    max-width: 540px;
  }
  .hero .hero__media .hero__img-wrapper {
    right: 269px;
  }
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 660px;
  }
  .hero .hero__media .hero__text {
    font-size: 15rem;
  }
}
@media screen and (min-width: 1600px) {
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 760px;
  }
  .hero .hero__media .hero__text {
    font-size: 19rem;
  }
}
@media screen and (min-width: 1800px) {
  .hero .hero__media .hero__img-wrapper .hero__img {
    max-width: 860px;
  }
}
.quality {
  overflow: hidden;
  margin-top: 120px;
  text-align: center;
}
.quality .quality__tittle {
  margin: auto;
}
.quality .quality__desc {
  margin: 30px auto 0;
}
.quality .quality__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  margin-top: 171px;
  padding-bottom: 170px;
}
.quality .quality__list .quality-item {
  box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
  border-radius: 4px;
  background-color: #fff;
  height: 405px;
  padding: 40px 40px 0 46px;
  text-align: left;
  max-width: 353px;
}
.quality .quality__list .quality-item:hover, .quality .quality__list .quality-item.active, .quality .quality__list .header .header__navbar .menu ul li a.quality-item:hover, .header .header__navbar .menu ul li .quality .quality__list a.quality-item:hover {
  scale: 1.164305949 1.162962963;
}
.quality .quality__list .quality-item:hover .quality-item__icon, .quality .quality__list .quality-item.active .quality-item__icon {
  background: #f2ffec;
}
.quality .quality__list .quality-item .quality-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #fff0e7;
  transition: all 0.25s ease-in-out;
  border-radius: 12px;
}
.quality .quality__list .quality-item .quality-item__valus {
  display: inline-block;
  margin-top: 28px;
  font-size: 5.2rem;
  font-weight: 800;
}
.quality .quality__list .quality-item .quality-item__desc {
  margin-top: 29px;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 37px; /* 154.167% */
}
.quality .quality__list .quality-circle__left,
.quality .quality__list .quality-circle__right {
  position: absolute;
  width: 282px;
  height: 282px;
  border-radius: 50%;
  z-index: -1;
}
.quality .quality__list .quality-circle__left {
  top: -141px;
  left: 0;
  background: #dcffca;
  transform: translateX(-35%);
}
.quality .quality__list .quality-circle__right {
  background: #ffd5bd;
  bottom: 0;
  right: 0;
  transform: translateX(35%);
}

@media screen and (min-width: 576px) {
  .quality .quality__list .quality-circle__left {
    transform: translateX(0);
  }
  .quality .quality__list .quality-circle__right {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .quality .quality__tittle {
    width: 670px;
  }
  .quality .quality__desc {
    width: 772px;
  }
  .quality .quality__list .quality-circle__left {
    transform: translateX(35%);
  }
  .quality .quality__list .quality-circle__right {
    transform: translateX(-35%);
  }
}
@media screen and (min-width: 992px) {
  .quality .quality__list {
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-left: -40px;
  }
  .quality .quality__list > * {
    width: calc(33.3333333333% - 40px);
    margin-left: 40px;
  }
  .quality .quality__list .quality-item {
    max-width: 300px;
  }
  .quality .quality__list .quality-item:hover, .quality .quality__list .quality-item.active, .quality .quality__list .header .header__navbar .menu ul li a.quality-item:hover, .header .header__navbar .menu ul li .quality .quality__list a.quality-item:hover {
    scale: 1.1;
  }
  .quality .quality__list .quality-circle__left {
    transform: translateX(-30%);
  }
  .quality .quality__list .quality-circle__right {
    transform: translateX(30%);
  }
}
@media screen and (min-width: 1200px) {
  .quality .quality__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 54px;
    margin-left: -54px;
  }
  .quality .quality__list > * {
    width: calc(33.3333333333% - 54px);
    margin-left: 54px;
  }
  .quality .quality__list .quality-item {
    max-width: 353px;
  }
  .quality .quality__list .quality-item:hover, .quality .quality__list .quality-item.active, .quality .quality__list .header .header__navbar .menu ul li a.quality-item:hover, .header .header__navbar .menu ul li .quality .quality__list a.quality-item:hover {
    scale: 1.164305949 1.162962963;
  }
  .quality .quality__list .quality-circle__left,
  .quality .quality__list .quality-circle__right {
    position: absolute;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    z-index: -1;
  }
  .quality .quality__list .quality-circle__left {
    transform: translateX(-20%);
  }
  .quality .quality__list .quality-circle__right {
    right: 1px;
    transform: translateX(20%);
  }
}
@media screen and (min-width: 1400px) {
  .quality .quality__list {
    padding: 0 136px 170px 136px;
  }
  .quality .quality__list .quality-circle__left,
  .quality .quality__list .quality-circle__right {
    position: absolute;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    z-index: -1;
    transform: none;
  }
}
.products {
  text-align: center;
  margin-top: 40px;
  overflow: hidden;
}
.products .products__list {
  margin-top: 168px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 200px;
  margin-left: -100px;
}
.products .products__list > * {
  width: calc(100% - 100px);
  margin-left: 100px;
}
.products .products__list .products-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 323px;
}
.products .products__list .products-item:nth-of-type(2) .products-item__circle, .products .products__list .products-item:nth-of-type(5) .products-item__circle {
  background: #c5ffa8;
}
.products .products__list .products-item .products-item__circle {
  position: absolute;
  width: 323.179px;
  height: 323.179px;
  border-radius: 50%;
  background-color: #ffba94;
  z-index: -1;
  top: 0;
  transform: translateY(-137.57px);
}
.products .products__list .products-item .products-item__img--wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .products__list .products-item .products-item__tittle {
  flex-grow: 1;
  position: relative;
  font-size: 2.8rem;
  padding-bottom: 10px;
  font-weight: 700;
  line-height: normal;
}
.products .products__list .products-item .products-item__tittle::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #a3a3a3;
  width: 49px;
  left: 50%;
  transform: translateX(-50%);
}
.products .products__list .products-item .products-item__quality,
.products .products__list .products-item .products-item__price {
  font-size: 2rem;
  font-weight: 400;
  line-height: 26px; /* 130% */
  color: #656565;
}
.products .products__list .products-item .products-item__quality {
  margin-top: 20px;
}
.products .products__list .products-item .products-item__price span {
  font-size: 2.6rem;
  font-weight: 600;
  color: #2c2c2c;
  line-height: 3.2rem;
}
.products .products__list .products-item .products-item__btn {
  margin-top: 16px;
}

@media screen and (min-width: 576px) {
  .products .products__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 200px;
    margin-left: -100px;
  }
  .products .products__list > * {
    width: calc(50% - 100px);
    margin-left: 100px;
  }
  .products .products__list .products-item .products-item__circle {
    width: 258.5432px;
    height: 258.5432px;
    transform: translateY(-110.056px);
  }
}
@media screen and (min-width: 768px) {
  .products {
    margin-top: 120px;
  }
  .products .products__list {
    margin-top: 198px;
  }
  .products .products__list .products-item .products-item__circle {
    width: 323.179px;
    height: 323.179px;
    transform: translateY(-137.57px);
  }
}
@media screen and (min-width: 992px) {
  .products .products__list .products-item .products-item__tittle {
    margin-top: 20px;
  }
  .products .products__list .products-item .products-item__btn {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products .products__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 258px;
    margin-left: -100px;
  }
  .products .products__list > * {
    width: calc(33.3333333333% - 100px);
    margin-left: 100px;
  }
}
.news {
  margin-top: 40px;
  text-align: center;
}
.news .news__desc {
  margin: 28px auto 0;
}
.news .news__list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 28px;
  row-gap: 56px;
}
.news .news-item {
  display: flex;
  flex-direction: column;
  text-align: initial;
}
.news .news-item .news-item__img--wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.news .news-item .news-item__img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.news .news-item .news-item__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.news .news-item:hover .news-item__calendar--icon, .news .news-item.active .news-item__calendar--icon, .news .header .header__navbar .menu ul li a.news-item:hover .news-item__calendar--icon, .header .header__navbar .menu ul li .news a.news-item:hover .news-item__calendar--icon {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.news .news-item:hover .news-item__date, .news .news-item.active .news-item__date, .news .header .header__navbar .menu ul li a.news-item:hover .news-item__date, .header .header__navbar .menu ul li .news a.news-item:hover .news-item__date {
  text-shadow: 1px 5px 4px rgba(0, 0, 0, 0.3);
}
.news .news-item:hover .news-item__img {
  scale: 1.2;
}
.news .news-item .news-item__row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.news .news-item .news-item__row .news-item__text, .news .news-item .news-item__row .news-item__date {
  font-size: 1.8rem;
  font-weight: 500;
  color: #46b20f;
}
.news .news-item .news-item__row .news-item__calendar {
  display: flex;
  align-items: center;
  gap: 18px;
}
.news .news-item .news-item__row .news-item__calendar--icon {
  width: 24px;
  height: 24px;
}
.news .news-item .news-item__row .news-item__date {
  color: #a3a3a3;
  line-height: normal;
}
.news .news-item .news-item__tittle {
  margin-top: 22px;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news .news-item .news-item__desc {
  margin-top: 20px;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news .news__cta {
  margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
  .news {
    margin-top: 160px;
  }
  .news .news-item__img {
    height: 328px;
  }
  .news .news__desc {
    width: 54.7916666667%;
  }
  .news .news__list {
    margin-top: 60px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .news .news__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .news .news__cta {
    margin-top: 120px;
  }
}
.protect {
  position: relative;
  margin-top: 40px;
  padding: 40px 0;
  text-align: center;
}
.protect .container {
  max-width: 1305px;
}
.protect::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: #fff0e7;
  z-index: -1;
}
.protect .protect__tittle {
  max-width: 473px;
  margin: 0 auto;
}
.protect .protect__desc {
  margin: 30px auto 0;
  max-width: 894px;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.protect .protect__list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.protect .protect-item {
  background: #fff;
  border-radius: 10px;
  text-align: initial;
  counter-increment: item;
}
.protect .protect-item:hover .protect-item__img {
  scale: 1.2;
}
.protect .protect-item .protect-item__img--wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  flex-grow: 1;
}
.protect .protect-item .protect-item__img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  transition: all 0.4s;
}
.protect .protect-item .protect-item__content {
  padding: 29px 22px 30px 33px;
}
.protect .protect-item .protect-item__tittle {
  color: #e05000;
}
.protect .protect-item .protect-item__tittle::before {
  content: "0" counter(item) "." " ";
}
.protect .protect-item .protect-item__desc {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .protect .protect__list {
    margin-top: 60px;
    grid-template-columns: repeat(2, 1fr);
  }
  .protect .protect-item .protect-item__img {
    height: 231px;
  }
}
@media screen and (min-width: 992px) {
  .protect {
    margin-top: 80px;
    padding-bottom: 140px;
  }
  .protect::after {
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 433px;
  }
  .protect .protect__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.service {
  margin: 40px 0;
}
.service .container {
  max-width: 346px;
}
.service .service__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
  row-gap: 60px;
  justify-items: center;
}
.service .service-item {
  max-width: 346px;
  margin-right: auto;
  display: flex;
  gap: 19px;
}
.service .service-item .service-item__img {
  width: 67px;
  height: 67px;
}
.service .service-item .service-item__desc {
  margin-top: 8px;
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 260px;
  line-height: normal;
}

@media screen and (min-width: 576px) {
  .service .container {
    max-width: 1170px;
  }
  .service .service__list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .service {
    margin: 160px 0;
  }
  .service .service__list {
    column-gap: 63px;
    row-gap: 120px;
  }
}
@media screen and (min-width: 992px) {
  .service .service__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.contact {
  padding-bottom: 61px;
}
.contact .container {
  max-width: 1435px;
}
.contact .contact__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact .contact__content {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
.contact .contact-form {
  margin-top: 32px;
}
.contact .contact-form .contact-form__row {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 28px;
}
.contact .contact-form .contact-form__row:last-of-type {
  margin: 32px 0 0 0;
}
.contact .contact-form .contact-form__group {
  position: relative;
  flex: 1;
}
.contact .contact-form .contact-form__input,
.contact .contact-form .contact-form__textarea {
  width: 100%;
  padding: 16px 0px 16px 16px;
  border-radius: 8px;
  border: 1px solid #a3a3a3;
}
.contact .contact-form .contact-form__input:focus ~ .contact-form__label,
.contact .contact-form .contact-form__textarea:focus ~ .contact-form__label {
  top: 0;
  transform: translateY(-50%);
  font-size: 1.4rem;
  background: #fff;
}
.contact .contact-form .contact-form__textarea {
  height: 178px;
  resize: none;
}
.contact .contact-form .contact-form__textarea ~ .contact-form__label {
  top: 16px;
  transform: none;
}
.contact .contact-form .contact-form__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #a3a3a3;
  transition: all 0.4s;
}
.contact .contact-form .contact-form__btn {
  margin-left: auto;
  width: 154px;
  height: 56px;
}

@media screen and (min-width: 576px) {
  .contact .contact-form .contact-form__row {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    padding-bottom: 122px;
  }
}
@media screen and (min-width: 992px) {
  .contact .contact__inner {
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 20px;
  }
  .contact .contact__img--wrapper {
    flex-grow: 0;
    margin-right: auto;
  }
  .contact .contact__content {
    text-align: initial;
    margin-top: 0;
    width: 49.4773519164%;
  }
}
.about {
  margin: 120px 0;
  text-align: center;
}
.about .container {
  max-width: 1170px;
}
.about .about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
  text-align: left;
}
.about .about-item:first-of-type {
  margin-top: 30px;
}
.about .about-item:nth-of-type(odd) .about-item__desc {
  max-width: 452px;
}
.about .about-item:nth-of-type(even) {
  justify-content: flex-end;
}
.about .about-item:nth-of-type(even) .about-item__desc {
  max-width: 528px;
}

@media screen and (min-width: 768px) {
  .about .about-item {
    flex-direction: row;
  }
  .about .about-item:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 992px) {
  .about .about-item {
    gap: 142px;
  }
}
.main-product {
  position: relative;
  background-image: url(../images/abouts/backgroud-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 84px 0 77px;
  text-align: center;
}
.main-product::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.6000000238;
  background: #000;
}
.main-product .container {
  max-width: 1295px;
}
.main-product .main-product__content {
  position: relative;
  padding-bottom: 44px;
}
.main-product .main-product__tittle,
.main-product .main-product__desc {
  position: relative;
  color: #fff;
  margin: 0 auto;
  max-width: 75.3667953668%;
}
.main-product .main-product__tittle {
  max-width: 46.332046332%;
}
.main-product .main-product__desc {
  margin-top: 60px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 26px;
  min-height: 156px;
}
.main-product .open-quotes,
.main-product .close-quotes {
  position: absolute;
  width: 80px;
}
.main-product .open-quotes {
  left: 0;
  top: 17.7993527508%;
}
.main-product .close-quotes {
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .main-product .open-quotes,
  .main-product .close-quotes {
    width: 100px;
  }
}
@media screen and (min-width: 992px) {
  .main-product .open-quotes,
  .main-product .close-quotes {
    width: 134px;
  }
}
.mission {
  padding: 120px 0 280px;
}
.mission .container {
  max-width: 1440px;
}
.mission .mission__inner {
  max-width: 1305px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mission .mission__img--wrapper {
  order: 2;
  position: relative;
}
.mission .mission__img--wrapper::before, .mission .mission__img--wrapper::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
.mission .mission__img--wrapper::before {
  width: 480px;
  height: 480px;
  background: #dcffca;
  top: 91px;
  left: -223px;
}
.mission .mission__img--wrapper::after {
  width: 264px;
  height: 264px;
  background: #ffd5bd;
  bottom: -160px;
  left: 66px;
}
.mission .mission__img {
  margin-left: auto;
  width: 480px;
  height: 438px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: -11px 31px 56px 0px rgba(0, 0, 0, 0.15);
}
.mission .mission__content {
  margin-bottom: 40px;
  max-width: 492px;
  order: 1;
}
.mission .mission__desc {
  margin-top: 32px;
}

@media screen and (min-width: 992px) {
  .mission .mission__inner {
    gap: 30px;
    flex-direction: row;
  }
  .mission .mission__img {
    width: 420px;
    height: 378px;
  }
  .mission .mission__img--wrapper {
    order: 1;
    margin-left: auto;
  }
  .mission .mission__content {
    margin-bottom: 0;
    order: 2;
  }
}
@media screen and (min-width: 1200px) {
  .mission .mission__inner {
    gap: 110px;
  }
  .mission .mission__img {
    width: 480px;
    height: 438px;
  }
}
.chopsticks {
  margin: 0 0 120px;
}
.chopsticks .container {
  max-width: 1440px;
}
.chopsticks .chopsticks__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.chopsticks .chopsticks__content {
  max-width: 761px;
  padding-left: 40px;
}
.chopsticks .chopsticks__img--wrapper {
  display: flex;
  align-items: center;
}
.chopsticks .chopsticks__img--wrapper .chopsticks__img:nth-of-type(1) {
  width: 604px;
  display: block;
}
.chopsticks .chopsticks__img--wrapper .chopsticks__img:nth-of-type(2) {
  width: 378px;
  display: none;
}
.chopsticks .chopsticks__tittle {
  margin-top: 52px;
  position: relative;
}
.chopsticks .chopsticks__tittle::before {
  position: absolute;
  content: "";
  background-image: url(../images/bg-page-product-chopsticks-tittle.png);
  background-size: cover;
  display: block;
  width: 195px;
  height: 203px;
  top: -38px;
  left: -89px;
  z-index: -1;
}
.chopsticks .chopsticks__desc {
  max-width: 440px;
  margin-top: 19px;
}

@media screen and (min-width: 992px) {
  .chopsticks .chopsticks__inner {
    align-items: center;
    justify-content: end;
    flex-direction: row;
  }
  .chopsticks .chopsticks__img--wrapper .chopsticks__img:nth-of-type(1) {
    display: none;
  }
  .chopsticks .chopsticks__img--wrapper .chopsticks__img:nth-of-type(2) {
    display: block;
  }
  .chopsticks .chopsticks__tittle {
    margin-top: 106px;
  }
}
@media screen and (min-width: 1200px) {
  .chopsticks .chopsticks__inner {
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .chopsticks .chopsticks__inner {
    gap: 43px;
  }
  .chopsticks .chopsticks__content {
    padding-left: 102px;
    margin-left: auto;
  }
  .chopsticks .chopsticks__img--wrapper .chopsticks__img:nth-of-type(1) {
    display: block;
    height: 477px;
  }
  .chopsticks .chopsticks__img--wrapper .chopsticks__img:nth-of-type(2) {
    display: none;
    height: 169px;
  }
}
.steps {
  margin: 60px 0 70px;
  text-align: center;
}
.steps .container {
  max-width: 1392px;
}
.steps .steps__tittle {
  max-width: 457px;
  margin: 0 auto;
}
.steps .steps__desc {
  margin: 20px auto 0;
  max-width: 456px;
}
.steps .steps__list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px;
  counter-reset: step;
}
.steps .steps-item {
  height: 162px;
  counter-increment: step;
  display: flex;
  gap: 12px;
  position: relative;
  padding-top: 14px;
  transition: 0.3s all ease-in;
}
.steps .steps-item:hover {
  transform: translate(-30px, 30px);
}
.steps .steps-item::before {
  content: "";
  position: absolute;
  top: 0;
  border-radius: 50%;
  z-index: -1;
  display: inline-block;
  width: 148px;
  height: 148px;
  background-color: #fff0e7;
}
.steps .steps-item:nth-of-type(1) .steps-item__desc {
  width: 185px;
}
.steps .steps-item:nth-of-type(1)::before {
  right: 123px;
}
.steps .steps-item:nth-of-type(2) .steps-item__desc {
  width: 160px;
}
.steps .steps-item:nth-of-type(2)::before {
  right: 100px;
}
.steps .steps-item:nth-of-type(3) .steps-item__desc {
  width: 160px;
}
.steps .steps-item:nth-of-type(3)::before {
  right: 97px;
}
.steps .steps-item:nth-of-type(4) .steps-item__desc {
  width: 162px;
}
.steps .steps-item:nth-of-type(4)::before {
  right: 100px;
}
.steps .steps-item .steps-item__number::before {
  content: "0" counter(step) "";
  font-size: 10rem;
  font-weight: 800;
  display: inline-block;
  color: #fff;
  mix-blend-mode: multiply;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
.steps .steps-item .steps-item__desc {
  text-align: initial;
  margin-top: 14px;
}

@media screen and (min-width: 576px) {
  .steps .steps__list {
    gap: 46px;
  }
}
@media screen and (min-width: 992px) {
  .steps .steps-item .steps-item__desc {
    margin-top: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .steps {
    margin: 120px 0 140px;
  }
}
@media screen and (min-width: 1400px) {
  .steps .steps__list {
    justify-content: flex-end;
  }
}
.benefit-instead {
  margin-bottom: 160px;
}
.benefit-instead .container {
  max-width: 1544px;
  margin-left: auto;
  margin-right: 0;
}
.benefit-instead .benefit-instead__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}
.benefit-instead .benefit-instead__content {
  position: relative;
  max-width: 784px;
  height: auto;
  box-shadow: 31px 28px 124px rgba(0, 0, 0, 0.06);
  padding: 30px;
  border-radius: 0px 10px 10px 0px;
}
.benefit-instead .benefit-instead__content ::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 0px 10px 10px 0px;
  width: 10px;
  background-color: #46b20f;
}
.benefit-instead .benefit-instead__img--wrapper {
  margin-top: 43px;
  border-radius: 10px;
}
.benefit-instead .benefit-instead__img--wrapper .benefit-instead__img {
  object-fit: cover;
}
.benefit-instead .benefit-instead__desc {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 37px; /* 154.167% */
}

@media screen and (min-width: 992px) {
  .benefit-instead .benefit-instead__content {
    width: 784px;
    padding: 109px 56px 62px 75px;
  }
  .benefit-instead .benefit-instead__inner {
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  .benefit-instead .benefit-instead__content {
    height: 420px;
  }
  .benefit-instead .benefit-instead__img--wrapper .benefit-instead__img {
    width: 706px;
    height: 538px;
  }
}
.rule {
  padding-bottom: 100px;
}
.rule .container {
  max-width: 100vw;
  padding: 0 calc((100vw - var(--max-width)) / 2);
}
.rule .rule__tittle {
  max-width: 586px;
  margin: 0 auto;
  text-align: center;
}
.rule .rule-item {
  position: relative;
  padding: 30px;
  margin-top: 60px;
  display: flex;
}
.rule .rule-item.rule-item-1 {
  max-width: 1686px;
  margin-left: auto;
  background-color: #f2ffec;
}
.rule .rule-item.rule-item-1 .rule-item__img {
  left: 135px;
  width: 336px;
  height: auto;
}
.rule .rule-item.rule-item-1 .quotes__img {
  margin-left: auto;
}
.rule .rule-item.rule-item-2 {
  margin: 38px auto 0 0;
  max-width: 1680px;
  flex-direction: row-reverse;
  margin-right: auto;
  background-color: #fff0e7;
}
.rule .rule-item.rule-item-2 .rule-item__img {
  right: 137px;
  width: 336px;
  height: auto;
}
.rule .rule-item.rule-item-2 .quotes__img {
  margin: 24px auto 0 0;
  transform: rotate(-180deg);
}
.rule .rule-item .rule-item__img--wrapper {
  border-radius: 8px;
}
.rule .rule-item .rule-item__img {
  display: none;
  top: 50%;
  position: absolute;
  object-fit: cover;
}
.rule .rule-item .quotes__img {
  width: 88px;
  height: 53px;
}

@media screen and (min-width: 768px) {
  .rule .rule-item {
    height: 429px;
  }
  .rule .rule-item.rule-item-1 {
    padding: 80px 137px 97px 137px;
  }
  .rule .rule-item.rule-item-2 {
    margin-top: 198px;
    padding: 80px 135px 96px 135px;
  }
  .rule .rule-item .rule-item__img {
    display: block;
  }
  .rule .rule-item .quotes__img {
    width: 136px;
    height: 106px;
  }
}
@media screen and (min-width: 992px) {
  .rule .rule-item.rule-item-1 {
    padding-left: 534px;
  }
  .rule .rule-item.rule-item-2 {
    padding-right: 532px;
  }
  .rule .rule-item .rule-item__img {
    top: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .rule .rule-item.rule-item-1 {
    padding-right: 137px;
    padding-left: 669px;
  }
  .rule .rule-item.rule-item-1 .rule-item__img {
    width: 471px;
    height: 487px;
  }
  .rule .rule-item.rule-item-2 {
    padding-right: 666px;
    padding-left: 135px;
  }
  .rule .rule-item.rule-item-2 .rule-item__img {
    width: 473px;
    height: 489px;
  }
}
@media screen and (min-width: 1400px) {
  .rule .rule-item.rule-item-1 {
    padding-right: 380px;
  }
  .rule .rule-item.rule-item-2 {
    padding-left: 375px;
  }
}
.news-hot {
  margin-top: 40px;
}
.news-hot .container {
  max-width: 1170px;
}
.news-hot .news-hot__item {
  display: flex;
  column-gap: 54px;
  flex-direction: column;
  align-items: center;
}
.news-hot .news-hot__item:nth-of-type(2) {
  margin-top: 56px;
}
.news-hot .news-hot__img--wrapper {
  border-radius: 8px;
}
.news-hot .news-hot__img {
  object-fit: cover;
}
.news-hot .news-hot__subtittle {
  margin-top: 32px;
  color: #46b20f;
  font-size: 1.8rem;
  font-weight: 500;
}
.news-hot .news-hot__tittle {
  margin-top: 12px;
}
.news-hot .news-hot__desc {
  margin-top: 32px;
  max-width: 509px;
}
.news-hot .news-hot__cta {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .news-hot {
    margin-top: 160px;
  }
  .news-hot .news-hot__item {
    column-gap: 109px;
    flex-direction: row;
    align-items: flex-start;
  }
  .news-hot .news-hot__item:nth-of-type(2) {
    margin-top: 56px;
    flex-direction: row-reverse;
  }
  .news-hot .news-hot__cta {
    margin-top: 60px;
  }
}
@media screen and (min-width: 992px) {
  .news-hot .news-hot__item:nth-of-type(2) .news-hot__img--wrapper {
    transform: translateY(-91px);
  }
}
@media screen and (min-width: 1200px) {
  .news-hot .news-hot__img {
    height: 538px;
    max-width: 552px;
  }
}
.page-news.news .container {
  max-width: 1170px;
}
.page-news.news .news__list {
  grid-template-columns: repeat(1, 1fr);
  row-gap: 60px;
  column-gap: 34px;
}
.page-news.news .news-item .news-item__row {
  margin-top: 24px;
}
.page-news.news .news-item .news-item__row .news-item__text, .page-news.news .news-item .news-item__row .news-item__date {
  font-size: 2.2rem;
  color: #a3a3a3;
}
.page-news.news .news-item .news-item__row .news-item__calendar--icon {
  width: 30px;
  height: 30px;
}
.page-news.news .news-item .news-item__tittle {
  font-size: 2.9568rem;
  font-weight: 600;
  line-height: 39.424px; /* 133.333% */
}
.page-news.news .news-item .news-hot__desc {
  font-size: 1.9712rem;
  line-height: 30.184px;
}
.page-news.news .paging {
  margin: 50px 0 40px;
}
.page-news.news .paging .paging__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page-news.news .paging .paging-item {
  font-size: 2rem;
  font-weight: 400;
  line-height: 26px;
}
.page-news.news .paging .paging-item.active, .page-news.news .paging .header .header__navbar .menu ul li a.paging-item:hover, .header .header__navbar .menu ul li .page-news.news .paging a.paging-item:hover {
  color: #46b20f;
}

@media screen and (min-width: 768px) {
  .page-news.news .news__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-news.news .news-item .news-item__img {
    height: 404px;
  }
}
@media screen and (min-width: 992px) {
  .page-news.news .paging {
    margin: 200px 0 160px;
  }
}
.news-posts {
  margin-bottom: 160px;
}
.news-posts .news-posts__inner {
  display: flex;
  justify-content: space-between;
}
.news-posts .posts__tittle {
  font-weight: 800;
  max-width: 832px;
  margin-bottom: 32px;
}
.news-posts .posts__img--wrapper {
  border-radius: 8px;
  width: 100%;
}
.news-posts .posts__img {
  object-fit: cover;
}
.news-posts .posts__row {
  margin-top: 22px;
  display: flex;
  align-items: center;
  gap: 27px;
}
.news-posts .posts__text {
  color: #46b20f;
  font-size: 2rem;
  font-weight: 600;
  line-height: 26px;
}
.news-posts .posts__calendar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.news-posts .posts__calendar--icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-posts .posts__date {
  color: #a3a3a3;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 30px;
}
.news-posts .posts__desc {
  margin-top: 34px;
  max-width: 884px;
}
.news-posts .posts-popular {
  padding: 40px 41px 82px 40px;
  max-width: 467px;
  background-color: #fffaf8;
}
.news-posts .posts-popular__tittle {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
}
.news-posts .posts-popular__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}
.news-posts .posts-popular__item {
  border-radius: 8px;
  background: #fff;
}
.news-posts .posts-popular__item .posts-popular__item-img--wrapper {
  border-radius: 8px;
}
.news-posts .posts-popular__item .posts-popular__item-img {
  object-fit: cover;
}
.news-posts .posts-popular__item .posts-popular__item-content {
  padding: 24px 33px 22px 13px;
}
.news-posts .posts-popular__item .posts-popular__item-tittle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 26px;
}

@media screen and (min-width: 1200px) {
  .news-posts .posts__content .posts__img {
    width: 909px;
    height: 478px;
  }
  .posts-popular__item .posts-popular__item-img {
    width: 386px;
    height: 236px;
  }
}
.map {
  height: 330px;
  margin-bottom: 40px;
}

@media screen and (min-width: 992px) {
  .map {
    margin-bottom: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .map {
    height: 550px;
  }
}
.page-contact.contact .container {
  max-width: 1170px;
}
.page-contact.contact .contact__inner {
  align-items: normal;
}
.page-contact.contact .contact__info {
  text-align: center;
}
.page-contact.contact .contact__time--order {
  margin: 18px auto 0;
  max-width: 305px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 26px;
}
.page-contact.contact .contact__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}
.page-contact.contact .contact-item:nth-of-type(1) .contact-item__link, .page-contact.contact .contact-item:nth-of-type(2) .contact-item__link {
  font-weight: 600;
}
.page-contact.contact .contact-item .contact-item__link {
  text-align: initial;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24.5px; /* 153.125% */
}

@media screen and (min-width: 576px) {
  .page-contact.contact .contact__list {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .page-contact.contact .contact__inner {
    justify-content: space-between;
  }
  .page-contact.contact .contact__info {
    text-align: initial;
  }
  .page-contact.contact .contact__list {
    flex-direction: column;
    gap: 12px;
  }
  .page-contact.contact .contact-item:last-of-type .contact-item__link {
    max-width: 213px;
  }
}

/*# sourceMappingURL=style.css.map */
