* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  max-width: calc(100% - 270px);
  margin: 0 auto;
}
.map {
  margin: 30px 0;
}
.map__list {
  list-style: none;
  display: inline-flex;
  border: 3px solid #eae3d2;
  border-radius: 3px;
}
.map-item {
  display: block;
  padding: 8px 25px;
}
.map-item__link {
  color: #b09757;
  font-size: 1.4rem;
  font-weight: 500;
}
.map-item.active {
  background: #b09757;
}
.map-item.active .map-item__link {
  color: #fff;
}
.map__inner {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
}
.map__left {
  margin: 60px 0 0 30px;
}
.map__heading {
  font-size: 2rem;
  font-weight: 500;
}
.map__info {
  margin-top: 20px;
  font-size: 1.4rem;
  color: #999;
}
.map__link {
  margin-left: 6px;
  color: #b09757;
  text-decoration: underline;
}
.map__coordinates {
  display: block;
}
