#services {
  padding: 1.8rem 0;
  .box {
    text-align: center;
    i {
      padding: 1rem;
      font-size: 5rem;
      color: #ffa500;
    }
    h3 {
      font-size: 2.5rem;
      color: #333;
    }
    p {
      font-size: 1.5rem;
      color: #888;
      padding: 1rem 0;
    }
  }
}
