* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #1a1a1a;
}

a {
  text-decoration: none;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
  border: none;
}
.hidden {
  display: none;
}
.error {
  color: #ef4444;
}
.form-message {
  margin-top: 8px;
  font-style: italic;
  font-size: 1.4rem;
  display: inline-block;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-login {
  cursor: pointer;
  padding: 10px;
  color: #717070;
  background: #fff;
  font-size: 2rem;
  margin-right: 100px;
}
.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s linear;
  transition-property: visibility, opacity;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal.show .overlay {
  opacity: 1;
  visibility: visible;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.6) none;
  position: fixed;
  inset: 0;
}

.modal-content {
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
  border-radius: 3px;
  z-index: 2;
  overflow: hidden;
}

.modal-tab {
  display: flex;
}
.modal__btn {
  cursor: pointer;
  flex: 1;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  max-height: 100%;
  font-size: 1.8rem;
  line-height: 24px;
  font-weight: 600;
  color: #999;
}
.modal__btn.active {
  background: #fff;
  color: #333;
}
.modal-login-register {
  padding: 0 40px 30px;
}
/* Login */
.login-content {
  margin-top: 16px;
}
.modal__text {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}
.modal-social {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal-social__btn {
  flex-basis: calc(50% - 10px);
  background: #e2e8f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 22px;
  color: #333;
  height: 45px;
  padding: 0;
}
.modal-social__btn::before {
  content: "";
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  background: transparent none no-repeat center/100% 100%;
  margin: 0 5px 0 0;
}
.modal-social__btn.facebook::before {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  background-image: url(https://cdnweb.dantri.com.vn/dist/f5ae7e06d5a6fc5ebaff.svg);
}
.modal-social__btn.google::before {
  background-image: url(https://cdnweb.dantri.com.vn/dist/7d0beed56ca1d379fbc0.svg);
}
.modal__line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.modal__line span {
  display: block;
  padding: 0 20px;
  background: #fff none;
}
.modal__line span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #eee;
  transform: translateY(-50%);
  z-index: -1;
}

.form-group {
  margin-top: 16px;
}
.form__label {
  color: #1a1a1a;
  font-weight: 500;
  margin-bottom: 2px;
  display: block;
  font-size: 1.4rem;
}
.form__input {
  width: 100%;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 16px 10px;
  font-size: 1.4rem;
  line-height: 22px;
  color: #333;
}
.form-group__wrap {
  position: relative;
}
.show-hide--password {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #7c7c7c;
  cursor: pointer;
}
.forget-password {
  display: block;
  margin-left: auto;
  font-size: 1.4rem;
  line-height: 22px;
  color: gray;
  font-style: italic;
  background-color: #fff;
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  line-height: 20px;
  font-weight: 600;
  color: #f8fafc;
  border-radius: 5px;
  background: #1a7900;
  cursor: pointer;
}
/* Register */
.register-content {
  margin-top: 24px;
}
.term {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.4;
}
.term a {
  color: #2361ff;
  font-weight: 500;
}
