.container {
  --container-width: 1440px;
  --column-space: 0;
}
$breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
);
@mixin display() {
  $prefix: "d-";
  @if ($name != "") {
    $prefix: $prefix + $name + "-";
  }
  .#{$prefix}none {
    display: none;
  }
  .#{$prefix}block {
    display: block;
  }
}
@each $name, $breakpoint in $breakpoints {
  @media screen and (min-width: #{$breakpoint}px) {
  }
}
.heading-1 {
  font-size: 5.2rem;
  font-weight: 700;
}

.heading-2 {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 131.523%;
}
.heading-3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 32px;
}
.desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24.5px; /* 153.125% */
}
.btn {
  font-family: Inter, sans-serif;
  background-color: $backgroundBtn;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 14px;
  border-radius: 8px;
  color: #fff;
  font-size: 2rem;
  line-height: normal;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s;
}
.btn:hover {
  background-color: #ff6916;
}
.btn:disabled {
  background-color: #b7b7b7;
}
.btn:active {
  background-color: #e05000;
}
