@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin overlayAllScreen($background-color, $z-index) {
  position: fixed;
  inset: 0;
  z-index: $z-index;
  background: $background-color;
  opacity: 0;
  visibility: hidden;
}

@mixin rounded($tl, $tr: $tl, $br: $tl, $bl: $tl) {
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin imgFull {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@mixin flexContainer($columns, $space-col, $space-row: $space-col) {
  display: flex;
  flex-wrap: wrap;
  row-gap: $space-row;
  margin-left: calc($space-col * -1);
  > * {
    width: calc(100% / $columns - $space-col);
    margin-left: $space-col;
  }
}
@mixin lineClamp($number) {
  display: -webkit-box !important;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin display($name: "") {
  $selectorNone: ".d-none";
  $selectorBlock: ".d-block";

  @if ($name != "") {
    $selectorNone: ".d-" + $name + "-none"; //.d-md-none
    $selectorBlock: ".d-" + $name + "-block";
  }

  #{$selectorNone} {
    display: none;
  }

  #{$selectorBlock} {
    display: block;
  }
}

@mixin center($width, $spacer: 0) {
  max-width: $width;
  margin: $spacer auto;
}
