* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}
html {
  font-size: 8px;
  scroll-behavior: smooth;
  @media screen and (min-width: 992px) {
    font-size: 10px;
  }
}

body {
  font-family: $fontFamily;
  color: $textColor;
  font-size: $fontSize;
  line-height: 1.2;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $linkColor;
  &:hover {
    color: $primaryColor;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingColor;
}
