$primaryColor: #46b20f;
$secondaryColor: #e05000;
$textColor: #2c2c2c;
$fontFamily: Inter, san-serif;
$linkColor: #2c2c2c;
$backgroundBtn: #46b20f;
$backgroundFooter: #f2ffec;
$fontSize: 1.6rem;
$headingColor: #2c2c2c;

$breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
);
