<h1>Trang chủ</h1>
<ul class="d-flex gap-2 list-unstyled align-content-center">
  <li>Chào bạn : <b><%= req.user.name %></b></li>
  <li>
    <a class="btn btn-danger" href="/auth/logout">Đăng xuất</a>
  </li>
</ul>
