.text-updater-node {
  // border-radius: 5px;
  background: #8bc34a;
  input {
    height: 100%;
    width: 100%;
    background: #8bc34a;
    text-align: center;
    &:focus-visible {
      border: 1px solid #8bc34a;
    }
  }
}
