<h1 class="text-center">Quên mật khẩu</h1>

<form action="" method="post" style="width: 300px; margin: 0 auto">
  <% if (msg.length) { %>
  <div class="alert alert-success"><%= msg %></div>
  <% } %>
  <div class="mb-4">
    <label for="email">Email</label>
    <div>
      <input
        type="text"
        name="email"
        placeholder="Email..."
        class="w-100 form-control"
      />
      <%- req.errors?.email ? `<span class="text-danger"
        >${req.errors?.email}</span
      >`: '' %>
    </div>
  </div>
  <div>
    <p>Quay về trang <a href="/auth/dang-nhap">Đăng nhập</a></p>
  </div>
  <div class="">
    <button class="btn btn-primary w-100 mb-2">Gửi</button>
  </div>
</form>
