<h1 class="text-center mb-4">Đặt lại mật khẩu</h1>
<form action="" method="post" style="width: 500px; margin: 0 auto">
  <% if (msg.length) { %>
  <div class="alert alert-success"><%= msg %></div>
  <% } %>
  <div class="mb-4">
    <label for="newPassword" style="width: 140px">Password new:</label>
    <div class="w-50">
      <input
        type="password"
        name="newPassword"
        placeholder="Password new..."
        class="form-control w-100"
        id="newPassword"
      />
      <%- req.errors?.newPassword ? `<span class="text-danger"
        >${req.errors?.newPassword}</span
      >`: '' %>
    </div>
  </div>
  <div class="mb-4">
    <label for="confirmPassword" style="width: 140px">Confirm Password :</label>
    <div class="w-50">
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password..."
        class="form-control w-100"
        id="confirmPassword"
      />
      <%- req.errors?.confirmPassword ? `<span class="text-danger"
        >${req.errors?.confirmPassword}</span
      >`: '' %>
    </div>
  </div>
  <div>
    <p>Quay về trang <a href="/auth/dang-nhap">Đăng nhập</a></p>
  </div>
  <div>
    <button class="btn btn-primary w-100 mb-2">Reset password</button>
  </div>
</form>
