* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: sans-serif;
}
a {
  text-decoration: underline;
  color: #272727;
}
.container {
  max-width: 60%;
  margin: 0 auto;
  height: 100%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #6eeb83;
  border-radius: 8px;
  padding: 20px;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.6;
}
.header {
  position: fixed;
  padding: 10px 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
  height: 100px;
}
.header .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header h1 {
  font-size: 3rem;
}
.header .btn-register {
  display: none;
}
.blogs {
  margin-top: 100px;
}
.blog-item {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.blogs h2 {
  font-size: 2.6rem;
  text-align: center;
}
.blogs .date {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  text-align: right;
  font-size: 2.6rem;
  position: absolute;
  top: 20px;
  left: -100px;
}
.blogs .date .hours {
  border-top: 1px solid #6eeb83;
}
.blogs .date .hours,
.blogs .date .mins {
  font-size: 1.6rem;
  line-height: 22px;
  font-weight: 500;
}
.blogs .author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.blogs .avatar {
  display: inline-flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: #6eeb83;
  border-radius: 50%;
  font-size: 2rem;
  color: #272727;
}
.blogs .avatar::after {
  content: attr(data-name);
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.blogs .name {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #272727;
}
.blogs .title {
  margin-top: 20px;
}
.blogs .desc {
  margin-top: 20px;
}
.blogs .blog-item .link {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  font-size: 1.3rem;
  color: #6eeb83;
  border: 1px solid #6eeb83;
  border-radius: 99px;
}
.blogs .blog-item .link::before {
  content: "#";
  font-style: italic;
}
.blogs .hashtag-name {
  position: absolute;
  bottom: 0;
  transform-origin: top left;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 20px;
  left: -30px;
  font-size: 1.4rem;
}
.form-inner {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  inset: 0;
  flex-direction: row;
  text-align: center;
  background-color: #272727;
  z-index: 3;
}
.info-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-inner .link {
  color: #fff;
}
.form-control {
  margin-top: 10px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form-label {
  margin-top: 10px;
  display: block;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 14px;
  color: #6eeb83;
}
.form-input {
  margin: 4px;
  width: 310px;
  height: 40px;
  flex-shrink: 0;
  display: block;
  border-radius: 4px;
  padding: 12px 16px;
  align-items: center;
  font-size: 1.6rem;
  color: #fff;
  box-shadow: 0 2px 7px #00000014;
  background: #30445b;
  border: 1px solid #a5a5a5;
}
.button-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.button-group .btn {
  color: #272727;
}
.user-action .form-input {
  background-color: #fff;
}
.user-action .form-input,
.user-action .form-textarea {
  width: 500px;
  color: #272727;
}
.user-action .form-textarea {
  height: 200px;
  margin-top: 10px;
  margin: 4px;
  display: block;
  border-radius: 4px;
  padding: 12px 16px;
  align-items: center;
  font-size: 1.6rem;
  box-shadow: 0 2px 7px #00000014;
  border: 1px solid #a5a5a5;
}
.user-action .btn-post {
  margin-top: 20px;
}
