.navbar {
  background: rgba(51, 51, 51, 0.75);
  padding: 0;
  margin-bottom: 6rem;
  * {
    color: #fff;
    font-size: 1.8rem;
  }
  header {
    padding: 16px;
    height: auto;
    position: static;
  }
  .brand p {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 700;
    &::before {
      content: "S";
      color: #ffa500;
    }
  }
  .link {
    padding: 0 10px;
    &:hover {
      color: #ffa500;
    }
  }
  .icon {
    margin-right: 1.8rem;
    font-size: 2.2rem;
  }
  .search-bar-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: rgba(51, 51, 51, 0.75);
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.2s linear;
    #search-bar {
      padding: 1rem;
      width: 100%;
      text-transform: none;
      background: #efefef;
      color: #333;
      font-size: 1.7rem;
      border-radius: 0.5rem;
      border: none;
    }
    label {
      color: #ffa500;
      cursor: pointer;
      font-size: 3rem;
      margin-left: 1.5rem;
    }
  }
}
.dark {
  .icon {
    color: #ffa500;
  }
}
