.news-posts {
  margin-bottom: 40px;
  .news-posts__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  .posts__tittle {
    font-weight: 800;
    max-width: 832px;
    margin-bottom: 32px;
  }
  .posts__img--wrapper {
    border-radius: 8px;
    width: 100%;
  }
  .posts__img {
    object-fit: cover;
    width: 909px;
  }
  .posts__row {
    margin-top: 22px;
    display: flex;
    align-items: center;
    gap: 27px;
  }
  .posts__text {
    color: $primaryColor;
    font-size: 2rem;
    font-weight: 600;
    line-height: 26px;
  }
  .posts__calendar {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .posts__calendar--icon {
    @include size(30px);
    @include flexCenter;
  }
  .posts__date {
    color: #a3a3a3;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 30px;
  }
  .posts__desc {
    margin-top: 34px;
    max-width: 884px;
  }

  .posts-popular__tittle {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 32px; /* 114.286% */
    padding: 12px 0;
    border-top: 1px solid #25282b;
    border-bottom: 1px solid #e6e8e9;
  }
  .posts-popular__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
  }
  .posts-popular__item {
    display: flex;
    border-radius: 8px;
    background: #fff;
    .posts-popular__item-img--wrapper {
      border-radius: 8px;
    }
    .posts-popular__item-img {
      object-fit: cover;
      @include size(198px, 118px);
    }
    .posts-popular__item-content {
      padding: 0px 0px 22px 13px;
    }
    .posts-popular__item-tittle {
      font-size: 2rem;
      font-weight: 600;
      line-height: 26px;
    }
  }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
  .news-posts {
    margin-bottom: 160px;
    .news-posts__inner {
      flex-direction: row;
      align-items: flex-start;
      gap: 64px;
    }
    .posts-popular {
      padding: 40px 41px 82px 40px;
      width: calc(467px / 1440px * 100%);
      background-color: #fffaf8;
    }
    .posts-popular__tittle {
      padding: 0;
      border: none;
    }
    .posts-popular__item {
      flex-direction: column;
      .posts-popular__item-content {
        padding: 24px 33px 22px 13px;
      }
      .posts-popular__item-img {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .news-posts {
    .posts-popular__item {
      .posts-popular__item-img {
        height: 236px;
      }
    }
  }
}
