.gallery {
  padding: 1.8rem;
  margin: 0 auto;
  text-align: center;
  .box {
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border: 1rem solid #fefefe;
    border-radius: 0.5rem;
    flex: 1 1 30rem;
    position: relative;
    &:hover {
      .content {
        top: 0;
      }
    }

    .content {
      position: absolute;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.7);
      padding: 2rem;
      padding-top: 5rem;
      transition: all 0.2s linear;
    }
    h3 {
      font-size: 2.5rem;
      color: #ffa500;
    }
    p {
      font-size: 1.5rem;
      color: #eee;
      padding: 0.5rem 0;
    }
    a {
      font-size: 2rem;
      color: #eee;
      padding: 0.5rem 2rem;
    }
  }
}
