.heading {
  text-align: center;
  padding: 2.5rem 0;
  span {
    font-size: 3.5rem;
    background: rgba(255, 165, 0, 0.2);
    color: #ffa500;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    margin-right: 5px;
  }
  .space {
    background: none;
  }
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }
}
.dark {
  #services,
  #packages {
    .box {
      h3,
      .price {
        color: #ffa500;
      }
    }
  }
}
img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}
