.rule {
  padding-bottom: 100px;
  .container {
    max-width: 100vw;
    padding: 0 calc((100vw - var(--max-width)) / 2);
  }
  .rule__tittle {
    max-width: 586px;
    margin: 0 auto;
    text-align: center;
  }
  .rule-item {
    position: relative;
    padding: 30px;
    margin-top: 60px;
    display: flex;
    &.rule-item-1 {
      max-width: 1686px;
      margin-left: auto;
      background-color: #f2ffec;
      .rule-item__img {
        left: 135px;
        @include size(336px, auto);
      }
      .quotes__img {
        margin-left: auto;
      }
    }
    &.rule-item-2 {
      margin: 38px auto 0 0;
      max-width: 1680px;
      flex-direction: row-reverse;
      margin-right: auto;
      background-color: #fff0e7;
      .rule-item__img {
        right: 137px;
        @include size(336px, auto);
      }
      .quotes__img {
        margin: 24px auto 0 0;
        transform: rotate(-180deg);
      }
    }
    .rule-item__img--wrapper {
      border-radius: 8px;
    }
    .rule-item__img {
      display: none;
      top: 50%;
      position: absolute;
      object-fit: cover;
    }
    .quotes__img {
      @include size(88px, 53px);
    }
  }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .rule {
    .rule-item {
      height: 429px;
      &.rule-item-1 {
        padding: 80px 137px 97px 137px;
      }
      &.rule-item-2 {
        margin-top: 198px;
        padding: 80px 135px 96px 135px;
      }
      .rule-item__img {
        display: block;
      }
      .quotes__img {
        @include size(136px, 106px);
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .rule {
    .rule-item {
      &.rule-item-1 {
        padding-left: 534px;
      }
      &.rule-item-2 {
        padding-right: 532px;
      }
      .rule-item__img {
        top: 80px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .rule {
    .rule-item {
      &.rule-item-1 {
        padding-right: 137px;
        padding-left: 669px;
        .rule-item__img {
          @include size(471px, 487px);
        }
      }
      &.rule-item-2 {
        padding-right: 666px;
        padding-left: 135px;
        .rule-item__img {
          @include size(473px, 489px);
        }
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .rule {
    .rule-item {
      &.rule-item-1 {
        padding-right: 380px;
      }
      &.rule-item-2 {
        padding-left: 375px;
      }
    }
  }
}
